<template>
   <div>
     <h1>MSG</h1>
       Hello Parameter
   </div>
</template>

<script>
  export default {
    name: 'Foop',
    data () {
      return {
      msg: 'FirstRoute'
    }
  }
}
</script>