<html>
    <head>
        <title> </title>
        <script src="//cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.1/vue-router.min.js"></script>
    </head>

    <body>

        <div id="pageRouting">
                <router-link to="/foo">Go to Foo</router-link>
                <router-link to="/bar">Go to Bar</router-link>
                <router-view></router-view>
        </div>
        

        <script>
            // 0. If using a module system (e.g. via vue-cli), import Vue and VueRouter
            // and then call `Vue.use(VueRouter)`.

            // 1. Define route components.
            // These can be imported from other files
            //import Foop from 'foo_page.vue';
            const Foo = { template: '<div>foo</div>' }
            //const Foo = { template: Foop }
            const Bar = { template: '<div>bar</div>' }

            // 2. Define some routes
            // Each route should map to a component. The "component" can
            // either be an actual component constructor created via
            // `Vue.extend()`, or just a component options object.
            // We'll talk about nested routes later.
            const routes = [
            { path: '/foo', component: Foo },
            { path: '/bar', component: Bar }
            ]

            // 3. Create the router instance and pass the `routes` option
            // You can pass in additional options here, but let's
            // keep it simple for now.
            const router = new VueRouter({
            routes // short for `routes: routes`
            })

            // 4. Create and mount the root instance.
            // Make sure to inject the router with the router option to make the
            // whole app router-aware.
            const app = new Vue({
            router
            }).$mount('#pageRouting')
        </script>

        <div id="handleclickevent">
            Enter your name <input type="text" v-model="name">
            <button v-on:click="sayHello">Hi there</button>
        </div>

        <script>
            var vm = new Vue({
                el: '#handleclickevent',
                data: {
                    name: ''
                },
                methods: {
                    sayHello: function(){
                        alert('Hi there'+ this.name);
                    }
                }
            });
        </script>

        <div id="ifelseDemo">

            <div v-if="ifelseDemoIf">
                Welcome to Scideas!
                <button @click="logout" type="submit">Logout</button>
            </div>
            <div v-else>
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <button @click="login" type="submit">Login</button>
            </div>

        </div>
        <script>
        var ifelsedemo = new Vue ({
            el: '#ifelseDemo',
            data: {
                ifelseDemoIf: false
            },
            methods: {
                login: function(){
                    this.ifelseDemoIf = !this.ifelseDemoIf;
                },
                logout: function(){
                    this.ifelseDemoIf = !this.ifelseDemoIf;
                }

            }
        });
        </script>

    <div id = "component_test">
        <testcomponent :elementtype = "'div,red,25,div1'">Hello Jai</testcomponent>
        <testcomponent :elementtype = "'h3,green,25,h3tag'">Hello Roy</testcomponent>
        <testcomponent :elementtype = "'p,blue,25,ptag'">Hello Ria</testcomponent>
        <testcomponent :elementtype = "'div,green,25,divtag'">Hello Ben</testcomponent>
     </div>
     <script type = "text/javascript">
        Vue.component('testcomponent',{
           render :function(createElement){
              var a = this.elementtype.split(",");
              return createElement(a[0],{
                 attrs:{
                    id:a[3],
                    style:"color:"+a[1]+";font-size:"+a[2]+";"
                 }
              },
              this.$slots.default
              )
           },
           props:{
              elementtype:{
                 attributes:String,
                 required:true
              }
           }
        });
        var vm = new Vue({
           el: '#component_test'
        });
     </script>



    <div id = "app">
        <p style = "font-size:25px;">Counter: {{ counter }}</p>
        <button @click = "counter++" style = "font-size:25px;">Click Me</button>
     </div>
     <script type = "text/javascript">
        var vm = new Vue({
           el: '#app',
           data: {
              counter: 1
           }
        });
        vm.$watch('counter', function(nval, oval) {
           alert('Counter is incremented :' + oval + ' to ' + nval + '!');
        });
        /*setTimeout(
           function(){
              vm.counter = 20;
           },2000
        );*/
     </script>

    </body>

</html>